header {
    background: $header-bg;
    color: $header-color;
    padding: 1rem;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .logo {
        display: flex;
        gap: .75rem;
        
        span {
            background-image: $header-logo-gradient;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            @media screen and (max-width: 500px) {
                display: none;
            }
        }
    }

    nav form input[type="search"] {
        padding: .5rem;
        width: 100%;
    }
}