.header {
    background: $header-bg;
    color: $header-color;
    padding: 1rem;
    
    // display: flex;
    // justify-content: space-between;
    // align-items: center;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    
    &__logo {
        display: flex;
        gap: .75rem;
        
        span {
            background-image: $header-logo-gradient;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            @media screen and (max-width: 500px) {
                display: none;
            }
        }
    }

    &__search-bar {
        input {
            padding: .5rem;
            width: 100%;
        }
    }
}