$header-bg: #333;
$header-color: #fff;
$header-logo-gradient: linear-gradient(to right top, #0045ae, #007fe0, #00adcb, #00d380, #a8eb12);

$article-btn-bg: $header-logo-gradient;

$controls-next-bg: #007bff;
$controls-previous-bg: #E09461;

$link-color: #1c86dd;

// fonts
$primary-font: "Roboto", Arial, sans-serif;
$logo-font: "Ubuntu", Arial, sans-serif;